.title{
    text-align: center;
}

.task{
    text-align: center;
    color: rgb(50, 53, 50);
}

.white_cell{
    height: 70px;
    width: 70px;
    background-color: white;
}

.black_cell{
    height: 70px;
    width: 70px;
    background-color: black;
}
